        {% extends "base.html" %} {% load static %} {% block content %}
        <div class="heading">
            <h1>Product Page</h1>
            <hr class="heading-underline">
        </div>
        
        <div class="productContent">
            <div class="product-info">
                <p>{{ product.name }}</p>
                <p>{{ product.description }}</p>
            </div>
            <div class="productImage">
                <a href="#exampleModal" data-toggle="modal"><img src="{{ product.image.url }}" alt="{{ product.name }}"></a> 
            </div>
             <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="productSelects">
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Size</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option value="xs">XS(8x6)</option>
                        <option value="s">S(10x8)</option>
                        <option value="m">M(12x8)</option>
                        <option value="l">L(12x10)</option>
                        <option value="xl">XL(15x10)</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Colour</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option value="colour">Colour</option>
                          <option value="b/w">Black and White</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Material</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option value="photo">Photo Paper</option>
                          <option value="canvas">Canvas</option>
                        </select>
                      </div>
                      <a class="btn buy-now-btn" href="#">Add to bag</a>
                  </form>
            </div>
        </div>
        {% endblock %}