        {% extends "base.html" %} {% load static %} {% block content %}
        <div class="heading">
            <h1>Product Page</h1>
            <hr class="heading-underline">
        </div>
        
        <div class="productContent">
            <div class="product-info">
                <p>{{ product.name }}</p>
                <p>{{ product.description }}</p>
            </div>
            <div class="productImage">
                <a href="#exampleModal" data-toggle="modal"><img src="{{ product.image.url }}" alt="{{ product.name }}"></a> 
            </div>
             <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="productSelects">
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Size</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                      {% for size in sizes %}
                        <option value="size">{{ size.value }}</option>
                      {% endfor %}
                      </select>
                    </div>
                    {% if product.has_colour %}
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Colour</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                        {% for colour in colours %}
                          <option value="colour">{{ colour.name }}</option>
                        {% endfor %}
                        </select>
                      </div>
                    {% endif %}
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Material</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                        {% for material in materials %}
                          <option value="photo">{{ material.value }}</option>
                        {% endfor %}
                        </select>
                      </div>
                      <a class="btn buy-now-btn" href="#">Add to bag</a>
                  </form>
            </div>
        </div>
        {% endblock %}