{% extends "base.html" %} {% load static %} {% block content %}
<!-- <div class="bg"> -->
  <div class="heading">
    <h3>
      <span class="logo-style">PG</span>
      <span class="logo-colour">.</span> 
      Photography
    </h3>
    <hr class="heading-underline" />
  </div>

  <div class="category-selection">
    <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Category</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Nature</option>
          <option>Scenery</option>
        </select>
      </div>
    </form>
    <a class="btn search-btn" href="productPage.html">Search</a>
  </div>

  <div class="gallery-content">
  {% for product in products %}
    <div class="card">
      <img src="{{ product.image.url }}" class="card-img" alt="{{ product.name }}" />
      <div class="card-img-overlay">
        <div class="image-text">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.description }}
          </p>
          <div class="buy-section">
            <p class="price">€{{ product.price }}</p>
            <a class="btn buy-now-btn" href="productPage.html">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
<!-- </div> -->
{% endblock %}
